django==4.2
django-cors-headers==4.0.0
django-environ==0.11.2
django-filter==23.4
django-redis==5.4.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-standardized-errors==0.12.6
drf-yasg==1.21.7
psycopg2-binary==2.9.6
redis==5.0.1