html{
    background-color: #f1f1f1;
}

.ajustar-login{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    text-align: center;
    width: 350px !important;
    border-radius: 10px;

}

.ajustar-cadastro{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50px;
    padding: 2.5em;
}

.ajustar-cadastro button{
    text-align: center;
}

.form{
    border-radius: 5px;
    border: 1px solid lightslategrey;
}

.btn-primary { 
    background-color: #07E079 !important;
    border: none !important;
}